html {
    height: 100%;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.3);
    background-size: cover;
    background-position: center;
}

body {
    position: relative;
    min-width: 800px;
    font-family: Raleway, sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: "header";
}

.video {
    width: 100%;
    object-fit: cover;
    object-position: center;
    grid-area: header;
    justify-self: center;
}

.page__heading {
    width: 739px;
    height: 408px;
    padding-top: 60px;
    padding-left: 20px;

    grid-area: header;
    z-index: 1;

    font-weight: 800;
    font-size: 116px;
    line-height: 136px;
    text-align: center;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: #000000;
    justify-self: center;
    cursor: default;
}

.page__heading::after {
    content: '*'
}

.page__heading:hover {
    color: #4C4C4C;
}

.page__heading:hover::before {
    content: 'На самом деле нет.\AВажнее &mdash; научиться ошибаться.';
    white-space: pre;
    text-transform: none;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0em;

    right: 0;
    top: 180px;
    width: 746px;

    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 20px;

    box-shadow: 0px 12px 0px 0px black;
    position: absolute;
    color: #000000;
    padding: 40px;
}